# ASGI Framework
# -----------------------------------------
starlette==0.32.0.post1
# ASGI Server
# -----------------------------------------
uvicorn==0.24.0.post1
# Database
# -----------------------------------------
asyncpg==0.29.0
# Monitoring
# -----------------------------------------
psutil==5.9.6
# Environment
# -----------------------------------------
python-dotenv==1.0.0
# C/C++ ICU Wrapper
# -----------------------------------------
PyICU==2.12
# YAML parser
# -----------------------------------------
PyYAML==6.0.1
# Trie
# -----------------------------------------
datrie==0.8.2